html
  head
    style
    script window.onload=function (){
      var oBtn=document.getElementById('div1');
      };
  body
    a(href="http://www.zhinengshe.com/") zhinengshe
    a(href="http://www.baidu.com/") baidu
